<!DOCTYPE html>
<html>

<head>
    <title>{{ page.app.name }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body>
    <div id="content">
        <p class="support">Support: <a href="mailto:{{ site.support_email }}">{{ site.support_email }}</a></p>
        <h1>
            <p class="main">{{ page.app.name }}</p>
            <p class="sub">{{ page.app.description }}</p>
        </h1>

        <div id="iOS" class="app">
            <a href="{{ page.app.link }}"><img class="icon" src="/images/{{ page.app.name }}.png"></a>
        </div>
        <div class="description">
            {{ content }}
            <p class="footer">Lovingly made by <a href="{{ github_url }}">TeaWhen</a>.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</body>

</html>