<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Tom Preston-Werner" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <img src="http://www.gravatar.com/avatar/985176dff53a0f688438edfb3d0f8f5d?size=150">
  <h1>Team.TeaWhen</h1>
  
  {{ content }}
  
</div>

</body>
</html>
